<<<<<<< HEAD
=======

>>>>>>> 5577dbd70d29798701ffa29d99b27e5f80c13cf7
#del{
    cursor:pointer;
    border:0;
}
#del:hover {
    border : 0;
    background: #ED2424;
<<<<<<< HEAD
}
=======
}
>>>>>>> 5577dbd70d29798701ffa29d99b27e5f80c13cf7
