<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

 

<div class="container">
  <h3 class="text-md-left">Search</h3>
  <div class="jumbotron">
    <form class="form-inline">

      <label>
        <input #query class="form-control mr-sm-2" type="text" placeholder="Search for names">
      </label>
      <br>
      <label>
        <button type="button" class="btn btn-primary  btn-md" (click)="search(query.value)">search</button>
        <pre> </pre>

      </label>

      <button type="button" class="btn btn-secondary btn-md" (click)="search(query.undefined)">Clear</button>

    </form>
  </div>


  <table   class="table table-hover table-bordered table-md">
    <thead class="thead-light">
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>ID</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of searchPerson ">
        <td>{{ person.firstName }}</td>
        <td>{{ person.lastName }}</td>
        <td>{{ person.id }}</td>
        <td>
          <button id="del" (click)="deletePerson(index)">X</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
