<table class="table table-hover">
  <thead>
  <tr>
      <td>firstName</td>
      <td>lastName</td>
      <td>userName</td>
      <td>password</td>
      <td colspan="2">Actions</td>
  </tr>
  </thead>

  <tbody>
      <tr *ngFor="let user of users">
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.userName }}</td>
          <td>{{ user.password }}</td>
          <td><a [routerLink]="['/edit', user._id]" class="btn btn-primary">Edit</a></td>
          <td><button (click)="deleteUser(user._id)"  class="btn btn-danger">Delete</button></td>
      </tr>
  </tbody>
</table>
