
  <form action="process.php" method="post"  class="tabcontent" >
 
   
 
     <fieldset class="fieldset1" style="background-color: #D3D3D3">
       <h1>Delete User</h1>
         
       </fieldset>
 
   <fieldset class="fieldset2" style="background-color: #f1f1f1" >
 
       <input type="text" class="Enter" placeholder="User Name" name="email" required="required"><span class="required">*</span> <br>
 
       
       <input type="password"  placeholder="Admin Password" name="psw" required="required"><span class="required">*</span><br><br>
 
        <p>Are you sure you want to delete this user ?  </p>
        
        <input type="submit" id="button1" value="Delete">
     <input type="submit" id="button2" value="Cancel">
 
   </fieldset>

 </form>
 <a routerLink="/users">Go Back</a>